**/.ipynb_checkpoints/

notebooks/*.onnx
notebooks/house_data_png.marshal
notebooks/house_data_png/
notebooks/event_planning.db
notebooks/embeddings.cache.zip
notebooks/embeddings.cache

.env
todo.txt